@import "tailwindcss";

:root {
  /* ===========================
     CORES
     =========================== */

  /* Verde principal */
  --primary: #6d9f71;
  --primary-hover: #5b8860;
  --primary-light: #eaf5ec;

  /* Cores de destaque */
  
  --accent: #fdaf21;
  --accent-light: #fdefd8;

  /* Neutros */
  --background: #fcfcfa;
  --background-soft: #fefbf8;
  --surface: #ffffff;

  --text: #2d3748;
  --text-muted: #718096;

  --border: #e5e7eb;

  /* ===========================
     BORDAS
     =========================== */

  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;

  /* ===========================
     SOMBRAS
     =========================== */

  --shadow-sm: 0 4px 12px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 10px 30px rgba(0, 0, 0, 0.08);

  /* ===========================
     LAYOUT
     =========================== */

  --navbar-height: 5rem;
}

body {
  background: var(--background-soft);
  color: var(--text);

  font-family: var(--font-inter), sans-serif;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.hero-image {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

@media (min-width: 1024px) {
  .hero-image {
    -webkit-mask-image: url("/images/hero-mask.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;

    mask-image: url("/images/hero-mask.svg");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }
}