@import "tailwindcss";

:root {
  /* ===========================
     CORES
     =========================== */

  --primary: #6d9f71;
  --primary-hover: #5b8860;

  --secondary: #eaf5ec;
  --accent: #f2c66d;

  --background: #fcfcfa;
  --surface: #ffffff;

  --text: #2d3748;
  --text-muted: #718096;

  --border: #e5e7eb;

  /* ===========================
     BORDAS
     =========================== */

  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;

  /* ===========================
     SOMBRAS
     =========================== */

  --shadow-sm: 0 4px 12px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 10px 30px rgba(0, 0, 0, 0.08);

  /* ===========================
     LAYOUT
     =========================== */

  --navbar-height: 5rem;
}

body {
  background: var(--background);
  color: var(--text);

  font-family: var(--font-inter), sans-serif;
  h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
}

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}